.abtContainer{
    display: flex;
    flex-direction: column;
    margin: 1vh 7%;
    padding: 0 20px;
    border-left: 1px solid white;
    margin-bottom: 100px;
}

.abtTitle{
    text-align: left;
    width: 100%;
}

.cardsContainer{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap;
    align-items: center;
}
